body {
  margin: 0;
  overflow: hidden;
  background-color: #000000;
  background-image: url("backgroud.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: sans-serif;
}

#snowfall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

.snowflake {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  animation: snowfallAnimation linear infinite;
  animation-duration: 15s;
  opacity: 0.8;
  filter: blur(0.3px);
  animation: snowfallAnimation 15s linear infinite spin snowflake 4s linear
    infinite;
}
.snowflake-small {
  width: 3px;
  height: 3px;
  opacity: 0.6;
  filter: blur(0.2px);
  animation: snowfallAnimation 12s linear infinite,
    spin snowflake 2.5s linear infinite;
}
.snowflake-large {
  width: 6px;
  height: 6px;
  opacity: 1;
  filter: blur(1px);
  animation: snowfallAnimation 18s linear infinite,
    spin snowflake 6s linear infinite;
}
#gift-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 50px;
  z-index: 1;
  transition: opacity 0.5s;
}
#gift-box:hover {
  opacity: 0.8;
}

#gift {
  animation: rotateGift linear infinite;
  animation-duration: 4s;
  transition: transform 0.3s;
}

#message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #bd3634;
  text-align: center;
  z-index: 2;
  max-width: 80%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.message-letter {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  display: inline-block;
  transform: rotate(10deg);
  transition: transform 0.2s, color 0.2s;
  cursor: default;
  font-size: 50px;
}
.message-letter:hover {
  color: #1a73e8;
  transform: scale(1.1) translateY(-3px) rotate(2deg);
}
.message-cover {
  position: absolute;
  z-index: -1;
  top: -90px;
  left: -120px;
  width: 600px;
}

@keyframes snowfallAnimation {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(15px, 50vh);
    opacity: 0.6;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    transform: translate(-20px, 100vh);
    opacity: 0;
  }
}
@keyframes rotateGift {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes spinSnowflake {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
